* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    text-align: center;
}

.header{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    display: block;
    margin-top: 50px;
}