* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    text-align: center;
}

.header-style{
    font-family: Verdana;
    color: white;
}

.header1{
    font-weight: normal;
    font-size: 50px;
    margin-top: 20px;
}

.header2{
    font-weight: 300;
    font-size: 42px;
    margin-top: 80px;
}

.header3{
    font-weight: 300;
    font-size: 42px;
    margin-top: 20px;
}


.gray1{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    margin-top: 30px;
}

.footer{
    text-align: right;
}


.link{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    display: block;
    margin-top: 50px;
}

.video{
    display: block;
    margin: 20px auto;
}

img{
    margin: 20px auto;
    display: block;
}